 @import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');



.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}
.main-header{
  font-family: 'Poltawski Nowy', serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}
.nav{
  color: black !important;
background-color: aliceblue !important;
padding: 20px !important;
}